<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Book Note Tracker</title>
  <link rel="stylesheet" href="/css/bootstrap-icons/bootstrap-icons.css">
  <link rel="stylesheet" href="./css/output.css">
</head>
<body>
  <nav class="bg-gray-300 h-auto ">
    <div class="flex justify-center items-center py-5">
      <div class="flex justify-between items-center w-8/12">
        <h1 class="text-2xl">My Book Tracker</h1>
        <button class="bg-blue-700 text-white font-medium px-8 py-4">Add Book</button>
      </div> 
    </div>
  </nav>
