<%- include("partials/header.ejs") %>
<main class="flex flex-col justify-center items-center my-10">
  <div class="flex justify-between items-center w-8/12 p-4">
    <h3 class="font-semibold text-xl w-1/3">Your Books</h3>
    <div class="flex justify-end items-center gap-8 w-2/3">
      <p class="">Sort by:</p>
      <div class="flex gap-2 p-4 bg-blue-100">
        <i class="bi bi-clock"></i>
        <p>Recent</p>
      </div>
      <div class="flex gap-2">
        <i class="bi bi-clock"></i>
        <p>Rating</p>
      </div>
      <div class="flex gap-2">
        <i class="bi bi-clock"></i>
        <p>Title</p>
      </div>
    </div>
  </div>
  <div class="grid sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 w-8/12">
    <%- include("partials/bookCard.ejs") %>
  </div>
  <%- include("partials/bookModal.ejs") %>
</main>
  
<script>
// Add book modal functionality
document.addEventListener('DOMContentLoaded', function() { // Wait for DOM to be fully loaded
  const addBookBtn = document.getElementById('addBookBtn');
  const addBookModal = document.getElementById('addBookModal');
  const modalContent = addBookModal.getElementById('modalContent');

  //open Add Book Modal
  addBookBtn.addEventListener('click', function() {
    fetch('/add-book-form')
    .then(response => response.text())
    .then(html => {
      modalContent.innerHTML = html;
      addBookModal.classList.remove('hidden');
      addBookModal.classList.add('block');
      document.body.style.overflow = 'hidden';

      //close button event listener
      const closeBtn = modalContent.getElementById('closeBtn');
      if (closeBtn) {
        closeBtn.addEventListener('click', closeAddBookModal);
      }

      //event listener for modal
      addBookModal.addEventListener('click', function(e) {
        if (e.target === addBookModal) {
          closeAddBookModal();
        }
      });
    })
    .catch(error => {
      console.error('Error loading form', error);
    });
  });

  //close add book modal function
  function closeAddBookModal() {
    addBookModal.classList.remove('block');
    addBookModal.classList.add('hidden');
    document.body.style.overflow = '';
  }

  //make function available globally
  window.closeAddBookModal = closeAddBookModal;
});
</script>

</body>
</html>